:root {
  --primary-color: black;
  --secondary-color: #FE5F00;
  --secondary-color-dark: #f2a16e;
  --red-color: tomato;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Consolas', sans-serif;
  font-weight: 500;
}